.headermain {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.headermain h1 {
  margin: 0;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  font-size: 1.5rem;
  font-weight: 500;
}

.recent-searches p
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  font-size: 0.89rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  padding: 8px;
  margin-right: 200px;
  min-width: 0;
  min-height: 0;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  max-height: 380px; /* Limit height for recent searches */
}